<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box m-3 m-md-0">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Registrarse en Covid Life</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" (change)="onCheckboxChangeMedico($event)">
                                <label class="custom-control-label" for="customCheck2">Registrarme como médico</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-horizontal m-t-20" action="index.html">
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="text" formControlName="name" (blur)=logValidationErrors(signupForm) placeholder="Nombres">
                                <span class="help-block" *ngIf="formsErrors.name">
                                    {{formsErrors.name}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="lastname" (blur)=logValidationErrors(signupForm) placeholder="Apellidos">
                                <span class="help-block" *ngIf="formsErrors.lastname">
                                    {{formsErrors.lastname}}
                                </span>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="email" (blur)=logValidationErrors(signupForm) placeholder="Correo">
                                <span class="help-block" *ngIf="formsErrors.email">
                                    {{formsErrors.email}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control" type="password" formControlName="password" (blur)=logValidationErrors(signupForm) placeholder="Contraseña">
                                <span class="help-block" *ngIf="formsErrors.password">
                                    {{formsErrors.password}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="ci" (blur)=logValidationErrors(signupForm) placeholder="Cédula o pasaporte">
                                <span class="help-block" *ngIf="formsErrors.ci">
                                    {{formsErrors.ci}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="fechaNacimiento" (blur)=logValidationErrors(signupForm) placeholder="Fecha de nacimiento">
                                </div>
                                <span class="help-block" *ngIf="formsErrors.fechaNacimiento">
                                        {{formsErrors.fechaNacimiento}}
                                    </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <label class="form-check-label" for="materialUnchecked2">Género</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="materialUnchecked2" [value]="MASCULINO" (blur)=logValidationErrors(signupForm) formControlName="genero" name="genero">
                                    <label class="form-check-label" for="materialUnchecked2">Masculino</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="materialChecked2" [value]="FEMENINO" (blur)=logValidationErrors(signupForm) formControlName="genero" name="genero">
                                    <label class="form-check-label" for="materialChecked2">Femenino</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="materialChecked3" [value]="PREFIERO_NO_DECIRLO" (blur)=logValidationErrors(signupForm) formControlName="genero" name="genero">
                                    <label class="form-check-label" for="materialChecked3">Prefiero no decirlo</label>
                                </div>
                                <span class="help-block" *ngIf="formsErrors.genero">
                                        {{formsErrors.genero}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="telefono" (blur)=logValidationErrors(signupForm) placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="direccion" (blur)=logValidationErrors(signupForm) placeholder="Dirección">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-md-12 ">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" (change)="onCheckboxChange($event)">
                                    <label class="custom-control-label" for="customCheck1">Estoy de acuerdo con los  <a href="javascript:void(0)" (click)="verTerminosCondiciones()">términos y condiciones</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button type="submit " [disabled]="signupForm.invalid" class="btn btn-block btn-lg btn-info">Registrar</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                ¿Usted ya esta registrado? <a href="/authentication/login" class="text-info m-l-5"><b>Ingresar</b></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <app-datos-paciente *ngIf="showDatosMedico" (enviarForm)="recibirFormPaciente($event)"> </app-datos-paciente>
                </div>     
        </div>
    </div>
    </div>

<!-- modales términos y condiciones-->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title ">Advertencia</h4>
        <button type="button " class="close " aria-label="close " (click)="modal.dismiss( 'Cross click') ">
        <span aria-hidden="true ">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
        <p>Antes de continuar, tiene que aceptar los términos y condiciones</p>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-light " (click)="modal.close( 'Close click') ">Cerrar</button>
    </div>
</ng-template>

<ng-template #longContent let-modal>
    <div class="modal-header ">
        <h4 class="modal-title ">Términos y condiciones</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
        <span aria-hidden="true ">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
        <h3>TÉRMINOS DE USO APLICATIVO COVID-LIFE</h3>
        <p>Por favor, lea detenidamente los términos legales de uso, antes de hacer uso de la aplicación, este es un acuerdo entre el usuarioy elaplicativoCovid-Life.</p>
        <p>
            Nuestra aplicaciónCovid-Liferecoge informaciónpersonal, por ejemplo: número de cédula, nombres, apellidos, correo electrónico, localización (GPS), fecha de nacimiento, teléfono, empresa/organización, provincia, cantón, parroquia, dirección, información
            sobre asilamiento domiciliario: afiliación seguro social; genero (si es mujer, le solicita información sobre si está embarazada, si está en período de lactancia), factores de riesgo: si sufre de presión alta, diabetes, si es fumador, diagnóstico
            de cáncer, carnet de discapacitado emitido por el Ministerio de Salud Pública, si le han diagnosticado alguna enfermedad, tiene alergia a medicamentos, cuantos familiares están en el cerco epidemiológico. Además, se le solicitarápor tres veces
            al día los signos vitales (temperatura, ritmo cardíaco, saturación del oxígeno) y su estado de salud, con el fin de conocer de manera real su estado de salud y poder tomar una decisión rápida y oportuna.
        </p>
        <p>
            Al hacer uso de la App Covid-Life, usted (usuario) acepta y está de acuerdo con las condiciones establecidas en estos términos de uso.
        </p>
        <ol>
            <li>
                Fin yalcance
                <ul>
                    <li>
                        El usuario ingresa sus datos personales para fineslícitos.
                    </li>
                    <li>
                        Al proporcionar sus datos, al aplicativo Covid-Lifeestá de acuerdo que sus datos puedan ser utilizados por el Estado Ecuatoriano para tomar medidas para enfrentar la emergencia de saludpública.
                    </li>

                </ul>
            </li>
        </ol>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click') ">Cerrar</button>
    </div>
</ng-template>