* {
    box-sizing: border-box;
}

h3,
h3 code {
    font-size: 20px;
}

.flex {
    display: flex;
    padding: 8px;
    background: rgba(255, 255, 255, 0.4);
}

.container {
    flex: 1;
}

.container:not(:last-child) {
    margin-right: 8px;
}

.vamp {
    background: rgba(255, 255, 255, 1);
    list-style: none;
    padding: 8px;
    color: #222;
    cursor: pointer;
}

.vamp:not(:last-child) {
    border-bottom: 1px solid #777;
}

a:link,
a:visited,
a:hover,
a:active {
    color: lightblue;
}

.centrar{
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
}

/* HEAD FIJO */
thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}

.table-responsive { 
    height:500px;
    overflow:scroll;
}