<div>Seleccione cada tarjeta para mover al esatdo correspodiente</div>
<div class="flex">
    <div class="container border border-dark border-top-0 border-left-0" id="segSinLlamada" dragula="SEGUIMIENTOS" [(dragulaModel)]="segSinLlamada">
        <div class="centrar" > 
            <h4><i class="fas fa-address-book"> </i> Seguimiento</h4>
        </div>    
        <div class="card vamp border border-secondary" *ngFor="let seg of segSinLlamada">
            <div class="card-header alert"
            [ngClass]="{'alert-success': seg.estado_diario_paciente == 'MEJOR_EVOLUCION', 'alert-danger': seg.estado_diario_paciente == 'EMPEORANDO' }"
            >
                <h5><i class="fas fa-user"></i> {{ seg?.idPaciente.name }} {{ seg?.idPaciente.lastname }}</h5>
            </div>
            <small>{{seg?.estado}}</small>
            <p class="p-3" >Fecha - Hora</p>
            <p>{{seg?.estado_diario_paciente}}</p>
            <small>{{seg?.idHospital.nombre}}</small>
            <p>{{seg.nota_paciente}}</p>
            <button type="button" class="btn btn-outline-success" (click)="showModalAtencion(seg)">ver</button>
        </div>
    </div>
    <div class="container border border-dark border-top-0 border-left-0" id="segConLlamada" dragula="SEGUIMIENTOS" [(dragulaModel)]="segConLlamada">
        <div class="centrar">
            <h4><i class="fas fa-phone"></i> Solicitando Video Llamada</h4>
        </div>
        <div class="card border border-secondary vamp" *ngFor="let seg of segConLlamada">
            <div class="card-header alert"
            [ngClass]="{'alert-success': seg.estado_diario_paciente == 'MEJOR_EVOLUCION', 'alert-danger': seg.estado_diario_paciente == 'EMPEORANDO' }">
                <h5><i class="fas fa-user"></i> {{ seg?.idPaciente.name }} {{ seg?.idPaciente.lastname }}</h5>
            </div>
            <small>{{seg?.estado}}</small>
            <p class="p-3" >Fecha - Hora</p>
            <p>{{seg?.estado_diario_paciente}}</p>
            <small>{{seg?.idHospital.nombre}}</small>
            <p>{{seg.nota_paciente}}</p>
        </div>
    </div>

    <div class="container border border-dark border-top-0 border-left-0" id="segAgendados" dragula="SEGUIMIENTOS" [(dragulaModel)]="segAgendados">
        <div class="centrar" >
            <h4><i class="fas fa-calendar-alt"></i> Agendadas</h4>
        </div>
        <div class="card border border-secondary vamp" *ngFor="let seg of segAgendados">
            <div class="card-header alert"
            [ngClass]="{'alert-success': seg.estado_diario_paciente == 'MEJOR_EVOLUCION', 'alert-danger': seg.estado_diario_paciente == 'EMPEORANDO' }">
                <h5><i class="fas fa-user"></i> {{ seg?.idPaciente.name }} {{ seg?.idPaciente.lastname }}</h5>
            </div>
            <small>{{seg?.estado}}</small>
            <p class="p-3" >Fecha - Hora</p>
            <p>{{seg?.estado_diario_paciente}}</p>
            <small>{{seg?.idHospital.nombre}}</small>
            <p>{{seg.nota_paciente}}</p>
            <button type="button" class="btn btn-outline-success" (click)="goToVideoCalling(seg)">Atender</button>
        </div>
    </div>

    <div class="container border border-dark border-top-0 border-left-0" id="segAtendidos" dragula="SEGUIMIENTOS" [(dragulaModel)]="segAtendidos">
        <div class="centrar">
            <h4><i class="fas fa-calendar-check"></i> Atendidas</h4>
        </div>
        <div class="card border border-secondary vamp" *ngFor="let seg of segAtendidos">
            <div class="card-header alert"
            [ngClass]="{'alert-success': seg.estado_diario_paciente == 'MEJOR_EVOLUCION', 'alert-danger': seg.estado_diario_paciente == 'EMPEORANDO' }">
                <h5><i class="fas fa-user"></i> {{ seg?.idPaciente.name }} {{ seg?.idPaciente.lastname }}</h5>
            </div>
            <small>{{seg?.estado}}</small>
            <p class="p-3" >Fecha - Hora</p>
            <p>{{seg?.estado_diario_paciente}}</p>
            <small>{{seg?.idHospital.nombre}}</small>
            <p>{{seg.nota_paciente}}</p>
        </div>
    </div>

</div>
