<div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Pacientes</h6>
                            <h2 class="m-t-0" *ngIf="totalPacientes$ | async as totalPacientes">{{totalPacientes}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Doctores</h6>
                            <h2 class="m-t-0" *ngIf="totalDoctores$ | async as totalDoctores">{{totalDoctores}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Recuperados</h6>
                            <h2 class="m-t-0">3</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Fallecidos</h6>
                            <h2 class="m-t-0">1</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>