<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Confirmados</h6>
                        <h2 class="m-t-0" *ngIf="isLoading$ | async; else confirmados">cargando...</h2>
                        <ng-template #confirmados>
                            <h2 class="m-t-0">{{datosPorDiagnostico[0]}}</h2>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Sospechosos</h6>
                        <h2 class="m-t-0" *ngIf="isLoading$ | async; else sospechosos">cargando...</h2>
                        <ng-template #sospechosos>
                            <h2 class="m-t-0">{{datosPorDiagnostico[1]}}</h2>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Aislados</h6>
                        <h2 class="m-t-0" *ngIf="isLoading$ | async; else asilados">cargando...</h2>
                        <ng-template #asilados>
                            <h2 class="m-t-0" *ngIf="!isLoading">{{datosPorDiagnostico[2]}}</h2>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Pacientes</h6>
                        <h2 class="m-t-0" *ngIf="isLoadingTotalPacientes$ | async; else pacientes">cargando...</h2>
                        <ng-template #pacientes>
                            <h2 class="m-t-0" *ngIf="totalPacientes$ | async as totalPacientes">{{totalPacientes}}</h2>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Recuperados</h6>
                        <h2 class="m-t-0" *ngIf="isLoading$ | async; else recuperados">cargando...</h2>
                        <ng-template #recuperados>
                            <h2 class="m-t-0" *ngIf="!isLoading">{{datosPorDiagnostico[3]}}</h2>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Hospitalizados</h6>
                        <h2 class="m-t-0" *ngIf="isLoading$ | async; else hospitalizados">cargando...</h2>
                        <ng-template #hospitalizados>
                            <h2 class="m-t-0" *ngIf="!isLoading">{{datosPorDiagnostico[4]}}</h2>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Fallecidos</h6>
                        <h2 class="m-t-0" *ngIf="isLoading$ | async; else fallecidos">cargando...</h2>
                        <ng-template #fallecidos>
                            <h2 class="m-t-0" *ngIf="!isLoading">{{datosPorDiagnostico[5]}}</h2>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick"></span><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Doctores</h6>
                        <h2 class="m-t-0" *ngIf="isLoadingTotalDoctores$ | async; else doctores ">cargando...</h2>
                        <ng-template #doctores>
                            <h2 class="m-t-0" *ngIf="totalDoctores$ | async as total">{{total}}</h2>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>