<div class="modal-header">

    <h5 class="modal-title" id="editUserLabel">Editar</h5>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>

</div>

<div class="modal-body">

    <form [formGroup]="editProvince" (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name" id="name" (blur)=logValidationErrors(editProvince)>
                <span class="help-block" *ngIf="formsErrors.name">
                    {{formsErrors.name}}
                </span>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="editProvince.invalid">Guardar</button>
        </div>

    </form>
</div>