<div id="main-wrapper" [ngClass]="{'show-sidebar': showMobileMenu}" [dir]="options.dir" [attr.data-theme]="options.theme" [attr.data-layout]="options.layout" [attr.data-sidebartype]="options.sidebartype" [attr.data-sidebar-position]="options.sidebarpos"
    [attr.data-header-position]="options.headerpos" [attr.data-boxed-layout]="options.boxed">

    <header class="topbar" [attr.data-navbarbg]="options.navbarbg">
        <nav class="d-flex top-navbar navbar-expand-md" [ngClass]="(options.navbarbg=='skin6')?'navbar-light':'navbar-dark'">
            <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''" [attr.data-logobg]="options.logobg">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
                </a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="/">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        <!-- Light Logo icon -->
                        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                        <!-- dark Logo text -->
                        <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        <!-- Light Logo text -->
                        <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                    <i class="ti-more"></i>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" [attr.data-navbarbg]="options.navbarbg" [ngbCollapse]="!isCollapsed">
                <app-navigation (toggleSidebar)="toggleSidebarType()" class="w-100"></app-navigation>
            </div>
        </nav>
    </header>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="m-b-15">Elija el Hospital en el que quiere iniciar sesión</h3>
                    <!-- Row -->
                    <div class="row">
                        <!-- column -->
                        <ng-container *ngIf="!userLogged.isRoot; else root">
                            <div class="col-lg-3 col-md-6" *ngFor="let hospital of userLogged?.roles">
                                <!-- Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{hospital?.idHospital.nombre}}</h5>
                                        <!-- <p class="card-text">Some content.</p> -->
                                        <a href="javascript:void(0)" class="btn btn-primary" (click)="selectHospital(hospital)">Ingresar</a>
                                    </div>
                                </div>
                                <!-- Card -->
                            </div>
                        </ng-container>
                        <ng-container #root *ngIf="hospitales$ | async as hospitales">
                            <div class="col-lg-3 col-md-6" *ngFor="let hospital of hospitales">
                                <!-- Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{hospital?.nombre}}</h5>
                                        <!-- <p class="card-text">Some content.</p> -->
                                        <a href="javascript:void(0)" class="btn btn-primary" (click)="selectHospitalRoot(hospital)">Ingresar</a>
                                    </div>
                                </div>
                                <!-- Card -->
                            </div>
                        </ng-container>

                        <!-- column -->
                    </div>
                    <!-- Row -->
                </div>
            </div>
        </div>
        <footer class="footer">
            © 2020 Covid life Universidad de las fuerzas Armadas
        </footer>
    </div>

</div>