<div class="modal-header">
    <h4 class="modal-title">Modal paciente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
</div>
<div class="modal-body">
    <div class="row">
        <!-- Column -->
        <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
            <app-over-view [userPerfil$]="userPerfil$"></app-over-view>
        </div> -->
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <ngb-tabset type="pills" class="custom-pills">
                    <ngb-tab title="Atender">
                        <ng-template ngbTabContent>
                            <app-atender-seguimiento [seguimiento]="seguimiento"></app-atender-seguimiento>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Datos personales">
                        <ng-template ngbTabContent>
                            <app-datos-usuario [userPerfil$]="userPerfil$"></app-datos-usuario>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Datos médicos">
                        <ng-template ngbTabContent>
                            <app-datos-paciente [userPerfil$]="userPerfil$"></app-datos-paciente>
                        </ng-template>
                    </ngb-tab>
                    <!-- <ngb-tab title="Historial">
                        <ng-template ngbTabContent>
                            <app-profile></app-profile>
                        </ng-template>
                    </ngb-tab> -->
                    <ngb-tab title="Resumen">
                        <ng-template ngbTabContent>
                            <app-time-line [idPaciente]="userPerfil._id"></app-time-line>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
</div>