<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" 
    style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box m-3 m-md-0">
        <div [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Cambiar contraseña</h5>
                
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" (ngSubmit)="cambiarContrasenia()" #form="ngForm">
                    <span>Ingrese su nueva contraseña</span>
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" 
                                type="password"  
                                placeholder="Contraseña" 
                                name="password1"
                                required
                                #password1="ngModel"
                                minlength="6"
                                [(ngModel)]="password">
                        </div>
                        <div class="row" >
                            <div class="col col-md-12">
                                <span class="help-block" *ngIf="password1.touched && password1.errors?.required">
                                    La contraseña es obligatoria
                                </span>
                                <span class="help-block" *ngIf="password1.touched && password1.errors?.minlength">
                                    La contraseña debe tener almenos 6 caracteres
                                </span>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="password1.valid">Repita la contraseña</span>
                    <div class="form-group row" *ngIf="password1.valid">
                        <div class="col-12">
                            <input class="form-control form-control-lg" 
                                type="password"  
                                placeholder="Repita la contraseña" 
                                name="confirmPassword2"
                                required
                                #confirmPassword2="ngModel"
                                [(ngModel)]="confirmPassword">
                        </div>
                        <div class="row" >
                            <div class="col col-md-12">
                                <span class="help-block" *ngIf="confirmPassword2.touched && confirmPassword2.errors?.required">
                                    Este campo es obligario
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger"
                            type="submit" name="action" [disabled]="!form.valid">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
