<div class="row border h-75 no-gutters">
    <div class="col-8 bg-light border h-100 d-flex justify-content-center overlay-container">

        <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
        <div class="justify-content-center overlay-item" *ngIf="isConected">
            <input type="button" value="Video" class="btn btn-sm btn-primary">
            <input type="button" value="Audio" class="btn btn-sm btn-primary ml-1">
            <input type="button" value="Screen Share" class="btn btn-sm btn-primary ml-1">
            <input type="button" value="Terminar" class="btn btn-sm btn-danger ml-1" (click)="terminarLlamada()">
        </div>

        <div style="padding: 100px;" *ngIf="!isConected">
            <button class="btn btn-info" [routerLink]="['/doctor/seguimientos']">
                Volver a seguimientos</button>
        </div>
    </div>

    <div class="col-4 bg-light border scrollable h-100">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills" (tabChange)="onChangeNav($event)">
                <ngb-tab title="Seguimiento" id="segumientos">
                    <ng-template ngbTabContent>
                        <app-atender-seguimiento [seguimiento]="seguimientoPorAtender"></app-atender-seguimiento>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Datos usuario" id="datos-paciente">
                    <ng-template ngbTabContent>
                        <app-over-view [userPerfil$]="userProfile$"></app-over-view>
                        <div *ngIf="isLoading$ | async">cargando...</div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>

    <div class="row flex-nowrap room-members">
        <div [id]="localCallId" class="local"></div>
    </div>
</div>