<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- You can find this in the dashboard-component -->
        <app-project-counter [totalDoctores$]="totalDoctores$" [totalPacientes$]="totalPacientes$" [datosPorDiagnostico]="doughnutChartDataDiagnostico"></app-project-counter>
    </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
    <!-- chart component -->
    <div class="col-lg-9 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Evolución diaría</h4>
                        <div *ngIf="isLoadingChartEvolucionDiariaPacietes$ | async"> cargando...</div>

                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6 class="text-info"><i class="fa fa-circle font-10 m-r-10"></i>Confirmados</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-success">
                                    <i class="fa fa-circle font-10 m-r-10 "></i> Sospechosos
                                </h6>
                            </li>

                            <!-- <li class="list-inline-item">
                                <h6 class="text-info"><i class="fa fa-circle font-10 m-r-10"></i>Aislados</h6>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div style="height:370px;">
                    <canvas baseChart [datasets]="lineChartDataPacientes" [labels]="lineChartLabelsDays" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- other chart component -->
    <div class="col-lg-3 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Pacientes</h4>
                <div *ngIf="isLoadingPacientesPorDiagnostico$ | async">Cargando.. </div>
                <div style="height: 220px">
                    <canvas baseChart height="100px" [data]="doughnutChartDataDiagnostico" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType" [colors]="[{backgroundColor: ['rgba(76,139,236,1)', '#06d79c', 'rgb(116, 90, 242)', '#2BF60B','#F90C0C','#000000']}]">
                    </canvas>
                </div>
                <table class="table vm font-14 m-b-0">
                    <ng-container *ngIf="totalPacientes$ | async as totalPacientes">

                        <tr>
                            <td class="border-0">Confirmados</td>
                            <td class="text-right font-medium border-0">
                                {{ calcularPorcentaje(doughnutChartDataDiagnostico[0], totalPacientes) | number:'1.0-2' }} %</td>
                        </tr>
                        <tr>
                            <td>Sospechosos</td>
                            <td class="text-right font-medium">{{ calcularPorcentaje(doughnutChartDataDiagnostico[1], totalPacientes) | number:'1.0-2' }} %</td>
                        </tr>
                        <tr>
                            <td>Aislados</td>
                            <td class="text-right font-medium">{{ calcularPorcentaje(doughnutChartDataDiagnostico[2], totalPacientes) | number:'1.0-2' }} %</td>
                        </tr>
                        <tr>
                            <td>Recuperados</td>
                            <td class="text-right font-medium">{{ calcularPorcentaje(doughnutChartDataDiagnostico[3], totalPacientes) | number:'1.0-2' }} %</td>
                        </tr>
                        <tr>
                            <td>Hospitalizados</td>
                            <td class="text-right font-medium">{{ calcularPorcentaje(doughnutChartDataDiagnostico[4], totalPacientes) | number:'1.0-2' }} %</td>
                        </tr>
                        <tr>
                            <td>Fallecidos</td>
                            <td class="text-right font-medium">{{ calcularPorcentaje(doughnutChartDataDiagnostico[5], totalPacientes) | number:'1.0-2' }} %</td>
                        </tr>

                    </ng-container>

                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<!-- <div class="row">
    <div class="col-lg-6">
        <app-earning-report></app-earning-report>
    </div>
    <div class="col-lg-6">
        <app-recent-comment></app-recent-comment>
    </div>
</div> -->
<!-- Row -->
<!-- ============================================================== -->
<!-- Carousel widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<!-- <app-social-slider></app-social-slider> -->
<!-- ============================================================== -->
<!-- Activity widgets -->
<!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<!-- <div class="row">

    <div class="col-lg-6 col-xlg-9">
        <app-activity-timeline></app-activity-timeline>
    </div>
    <div class="col-lg-6 col-xlg-3">
        <app-profile-box></app-profile-box>
    </div>
</div> -->