.room-members {
    overflow-x: auto;
    white-space: nowrap;
}

.room-members>.col {
    display: inline-block;
    float: none;
}

.scrollable {
    overflow-y: auto;
}

.overlay-container {
    position: relative;
}

.tamanio {
    height: 400px;
}

.overlay-item {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: " ";
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

.border-video {
    height: 400px;
}

.local {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.remote {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}