<div class="card">
    <div class="card-body">
        <div class="taskboard page-height">
            <div class="taskboard-wrapper">
                <div class="taskboard-list">
                    <h6 class="taskboard-header">Seguimientos</h6>
                    <div class="taskboard-cards" id="regulares" dragula="SEGUIMIENTOS" [(dragulaModel)]="regulares">
                        <div class="taskboard-task task-status-success" *ngFor="let seg of regulares" [ngClass]="getCssClass(seg)">
                            <div class="taskboard-task-title">{{seg.patient.name}} {{seg.patient.lastname}}</div>
                            <!-- <small class="card-text text-muted">{{seg.description}}</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="taskboard-wrapper">
                <div class="taskboard-list">
                    <h6 class="taskboard-header">Solicitudes de llamada</h6>
                    <div class="taskboard-cards" id="videollamada" dragula="SEGUIMIENTOS" [(dragulaModel)]="videollamada">
                        <div class="taskboard-task task-status-danger" *ngFor="let seg of videollamada" [ngClass]="getCssClass(seg)">
                            <div class="taskboard-task-title">{{seg.patient.name}} {{seg.patient.lastname}}</div>
                            <!-- <small class="card-text text-muted">{{seg.description}}</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="taskboard-wrapper">
                <div class="taskboard-list">
                    <h6 class="taskboard-header">Agendadas por mí</h6>
                    <div class="taskboard-cards" id="agendadas" dragula="SEGUIMIENTOS" [(dragulaModel)]="agendadas">
                        <div class="taskboard-task task-status-danger" *ngFor="let seg of agendadas" [ngClass]="getCssClass(seg)">
                            <div class="taskboard-task-title">{{seg.patient.name}} {{seg.patient.lastname}}</div>
                            <!-- <small class="card-text text-muted">{{seg.description}}</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="taskboard-wrapper">
                <div class="taskboard-list">
                    <h6 class="taskboard-header">Atendidas por mí</h6>
                    <div class="taskboard-cards" id="atendidas" dragula="SEGUIMIENTOS" [(dragulaModel)]="atendidas">
                        <div class="taskboard-task" *ngFor="let seg of atendidas" [ngClass]="getCssClass(seg.patientState)">
                            <div class="taskboard-task-title task-status-danger">{{seg.patient.name}} {{seg.patient.lastname}}</div>
                            <!-- <small class="card-text text-muted">{{seg.description}}</small> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>