/* .container_table {
    overflow: scroll;
    position: relative;
}

table {
    position: relative;
    border-collapse: collapse;
}

tbody td div {
    width: 150px;
    text-align: center;
}

tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
}

thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
} */


/* body {
    background-color: #bdc3c7;
}

.table-fixed {
    width: 100%;
    background-color: #f3f3f3;
}

.table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td {
    float: left;
}

.table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
} */


/* .container_table {
    overflow: scroll;
    position: relative;
}

table {
    position: relative;
    border-collapse: collapse;
}

tbody td div {
    width: 150px;
    text-align: center;
}

tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
}

thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
} */


/* div {
    max-width: 40em;
    max-height: 20em;
    overflow: scroll;
    position: relative;
} */

.tabla {
    max-width: 40em;
    max-height: 20em;
    overflow: scroll;
    position: relative;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

td,
th {
    padding: 0.20em;
}

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    background: #000;
    color: #FFF;
}

thead th:first-child {
    left: 0;
    z-index: 1;
}

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
}