<!-- <ng-container *ngIf="isLoading$ | async as isLoading"> -->

<div class="row" *ngIf="!(isLoading$ | async)">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Ultimos seguimientos del paciente</h4>
                <h6 class="card-subtitle">El paciente tiene 3 observaciones disponibles para el dia de hoy</h6> -->

                <div class="tabla">
                    <table>
                        <ng-container *ngIf="seguimientos$ | async as seguimientos">
                            <thead>
                                <th>Dia y Fecha</th>
                                <th *ngFor="let seg of seguimientos; let i=index;">
                                    <label>Día {{ i + 1}} </label><br>
                                    <label>{{ seg?._id | date : 'shortDate' }}</label>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="align-middle">Evolución</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label [ngClass]="{'table-success': seg?.seguimientos[0]?.estado_diario_paciente==='MEJOR_EVOLUCION', 
                                                'table-warning': seg?.seguimientos[0]?.estado_diario_paciente==='IGUAL_EVOLUCION', 
                                                'table-danger': seg?.seguimientos[0]?.estado_diario_paciente==='EMPEORANDO'}">
                                            {{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - 
                                            ({{seg?.seguimientos[0]?.estado_diario_paciente}})
                                        </label>
                                        <label [ngClass]="{'table-success': seg?.seguimientos[1]?.estado_diario_paciente==='MEJOR_EVOLUCION', 
                                            'table-warning': seg?.seguimientos[1]?.estado_diario_paciente==='IGUAL_EVOLUCION', 
                                            'table-danger': seg?.seguimientos[1]?.estado_diario_paciente==='EMPEORANDO'}">
                                            {{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - 
                                            ({{seg?.seguimientos[1]?.estado_diario_paciente}})</label>

                                        <label [ngClass]="{'table-success': seg?.seguimientos[2]?.estado_diario_paciente==='MEJOR_EVOLUCION', 
                                                'table-warning': seg?.seguimientos[2]?.estado_diario_paciente==='IGUAL_EVOLUCION', 
                                                'table-danger': seg?.seguimientos[2]?.estado_diario_paciente==='EMPEORANDO'}">
                                            {{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - 
                                            ({{seg?.seguimientos[2]?.estado_diario_paciente}})</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Temperatura</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label [ngClass]="{'table-success': seg?.seguimientos[0]?.temperatura <= 37.4, 
                                             'table-warning': seg?.seguimientos[0]?.temperatura > 37.4 && seg?.seguimientos[0]?.temperatura <= 37.9, 
                                             'table-danger': seg?.seguimientos[0]?.temperatura > 37.9}">
                                            {{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - 
                                            ({{seg?.seguimientos[0]?.temperatura}})</label>
                                        <label [ngClass]="{'table-success': seg?.seguimientos[1]?.temperatura <= 37.4, 
                                                'table-warning': seg?.seguimientos[1]?.temperatura > 37.4 && seg?.seguimientos[0]?.temperatura <= 37.9, 
                                               'table-danger': seg?.seguimientos[1]?.temperatura > 37.9}">
                                               {{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - 
                                               ({{seg?.seguimientos[1]?.temperatura}})</label>
                                        <label [ngClass]="{'table-success': seg?.seguimientos[2]?.temperatura <= 37.4, 
                                            'table-warning': seg?.seguimientos[2]?.temperatura > 37.4 && seg?.seguimientos[0]?.temperatura <= 37.9, 
                                            'table-danger': seg?.seguimientos[2]?.temperatura > 37.9}">
                                                {{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - 
                                                ({{seg?.seguimientos[2]?.temperatura}})</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Ritmo Cardiaco</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label>{{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[0]?.ritmo_cardiaco}})</label>
                                        <label>{{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[1]?.ritmo_cardiaco}})</label>
                                        <label>{{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[2]?.ritmo_cardiaco}})</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Saturación de Oxígeno</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label>{{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[0]?.saturacion_oxigeno}})</label>
                                        <label>{{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[1]?.saturacion_oxigeno}})</label>
                                        <label>{{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[2]?.saturacion_oxigeno}})</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Dificultad Respirar</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label>{{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[0]?.dificultad_respirar}})</label>
                                        <label>{{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[1]?.dificultad_respirar}})</label>
                                        <label>{{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[2]?.dificultad_respirar}})</label>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Estado Actual</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label>{{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[0]?.diagnostico_actual}})</label>
                                        <label>{{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[1]?.diagnostico_actual}})</label>
                                        <label>{{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[2]?.diagnostico_actual}})</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Observaciones</th>
                                    <td *ngFor="let seg of seguimientos; let i=index;">
                                        <label>{{seg?.seguimientos[0]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[0]?.observacion_doctor}})</label>
                                        <label>{{seg?.seguimientos[1]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[1]?.observacion_doctor}})</label>
                                        <label>{{seg?.seguimientos[2]?.createAt | date:'shortTime'}} - ({{seg?.seguimientos[2]?.observacion_doctor}})</label>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="isLoading$ | async">cargando...</div>