<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ultimos seguimientos del paciente</h4>
                <h6 class="card-subtitle">El paciente tiene 3 observaciones disponibles para el dia de hoy</h6>
            </div>
            <div class="table-responsive container_table">
                <!-- <div class="row" > -->
                    <!-- <div class="col-2">
                        <table class="table" style="width: 100px;" >
                            <tbody>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    <th>Observaciones</th>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                    <!-- <div class="col-10"> -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="align-middle">Dia y Fecha</th>
                                    <td>
                                        <div>
                                            Día 1
                                        </div>
                                        <div>
                                            2020/05/21
                                        </div>
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Temperatura</th>
                                    <td>
                                        <div class="table-success" >19:13-(35.2)</div>
                                        <div class="table-warning">01:52-(35.2) </div>
                                        <div class="table-danger" >13:52-(35.1)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Ritmo Cardiaco</th>
                                    <td>
                                        <div>19:13-(0)</div>
                                        <div>13:52-(0)</div>
                                        <div>01:52-(0)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Saturacióon de Oxígeno</th>
                                    <td>
                                        <div>19:13-(0)</div>
                                        <div>13:52-(0)</div>
                                        <div>01:52-(0)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Dificultad Respirar</th>
                                    <td>
                                        <div class="table-danger">SI</div>
                                        <div class="table-success">NO</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Requerimiento</th>
                                    <td>
                                        <div>19:13-(0)</div>
                                        <div>13:52-(Continuar en Domicilio)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Toma de muestra</th>
                                    <td>
                                        <div>19:13-(0)</div>
                                        <div>13:52-(No Requerido)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Estado Actual</th>
                                    <td>
                                        <div>19:13-(0)</div>
                                        <div>13:52-(Aislameinto Preventivo)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>
                                <tr>
                                    <th class="align-middle">Observaciones</th>
                                    <td>
                                        <div>19:13-(0)</div>
                                        <div>13:52-(Aislameinto Preventivo)</div>
                                    </td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell 12 </td>
                                </tr>

                                
                            </tbody>
                        </table>
                    </div>
                <!-- </div> -->
                
                
            <!-- </div> -->
        </div>
    </div>
</div>