<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="card-title mb-0 text-white">Envío de signos</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="seguimientoForm" (ngSubmit)="onSubmit()" novalidate class="form-horizontal form-material">
                        <div class="form-group">
                            <label for="temperatura">Temperatura (Obligatorio) </label>
                            <input type="text" class="form-control" id="temperatura" formControlName="temperatura" (keyup)=logValidationErrors(seguimientoForm)>
                            <small class="form-text text-danger" *ngIf="formsErrors.temperatura">{{formsErrors.temperatura}}</small>
                        </div>
                        <div class="form-group">
                            <label for="ritmo_cardiaco">Rítmo cardiáco (Opcional)</label>
                            <input type="text" class="form-control" id="ritmo_cardiaco" formControlName="ritmo_cardiaco" (keyup)=logValidationErrors(seguimientoForm)>
                            <small class="form-text text-danger" *ngIf="formsErrors.ritmo_cardiaco">{{formsErrors.ritmo_cardiaco}}</small>
                        </div>
                        <div class="form-group">
                            <label for="saturacion_oxigeno">Saturación de oxígeno (Opcional)</label>
                            <input type="text" class="form-control" id="saturacion_oxigeno" formControlName="saturacion_oxigeno" (keyup)=logValidationErrors(seguimientoForm)>
                            <small class="form-text text-danger" *ngIf="formsErrors.saturacion_oxigeno">{{formsErrors.saturacion_oxigeno}}</small>
                        </div>
                        <div class="form-group">
                            <label for="dificultad_respirar">Dificultad para respirar (Obligatorio)</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="dificultad_respirar1" [value]="SI" (keyup)=logValidationErrors(seguimientoForm) formControlName="dificultad_respirar" name="dificultad_respirar">
                                <label class="form-check-label" for="dificultad_respirar1">Sí</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="dificultad_respirar2" [value]="NO" (keyup)=logValidationErrors(seguimientoForm) formControlName="dificultad_respirar" name="dificultad_respirar">
                                <label class="form-check-label " for="dificultad_respirar2">No</label>
                            </div>
                            <small class="form-text text-danger" *ngIf="formsErrors.dificultad_respirar">{{formsErrors.dificultad_respirar}}</small>
                        </div>
                        <!-- <div class="form-group">
                            <label for="examen">Exámen (Opcional)</label>
                            <select type="text" class="form-control" id="examen" formControlName="examen" placeholder="Seleccione">
                                <option *ngFor="let tipo of tiposExamen" [value]="tipo">{{tipo}}</option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <label for="nota_paciente">Escriba una breve descripción de su estado actual (Opcional)</label>
                            <textarea type="text" class="form-control" id="nota_paciente" formControlName="nota_paciente" (keyup)=logValidationErrors(seguimientoForm)></textarea>
                            <small class="form-text text-danger" *ngIf="formsErrors.nota_paciente">{{formsErrors.nota_paciente}}</small>
                        </div>

                        <div class="form-group">
                            <label for="estado_diario_paciente">¿Como ha sido su evolución? (Obligatorio)</label>
                            <select type="text" class="form-control" id="estado_diario_paciente" formControlName="estado_diario_paciente">
                                <option *ngFor="let estado of estadoDiario" [value]="estado">{{estado}}</option>
                            </select>
                            <small class="form-text text-danger" *ngIf="formsErrors.estado_diario_paciente">{{formsErrors.estado_diario_paciente}}</small>
                        </div>

                        <div class="form-group">
                            <label for="dificultad_respirar">¿Desea solicitar atención por video llamada? (Obligatorio) </label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="estado1" [value]="SOLICITADO_CON_LLAMADA" formControlName="estado" name="estado">
                                <label class="form-check-label" for="estado1">Sí</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="estado2" [value]="SOLICITADO_SIN_LLAMADA" formControlName="estado" name="estado">
                                <label class="form-check-label " for="estado2">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-raised mr-1" [disabled]="!seguimientoForm.valid">Enviar</button>
                            <button type="button" class="btn btn-dark btn-raised">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>