<div class="row">
    <div class="col-lg-6">
        <div *ngIf="!(cargandoProvincias$ | async)">
            <app-table [espacioType]="PROVINCIA" [lugares]="provincias" (emitirLugar)="recibirProvincia($event)">
            </app-table>
        </div>
        <div *ngIf="cargandoProvincias$ | async">
            <h3>Cargando provincias...</h3>
        </div>
    </div>
    <div class="col-lg-6">
        <div *ngIf="!(cargandoCantones$ | async)">
            <app-table [espacioType]="CANTON" [LugarPadre]="provinciaSeleccionada" [lugares]="cantones" (emitirLugar)="recibirCanton($event)" *ngIf="provinciaSeleccionada">
            </app-table>
        </div>
        <div *ngIf="cargandoCantones$ | async">
            <h3>Cargando cantones...</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div *ngIf="!(cargandoParroquias$ | async)">
            <app-table [espacioType]="PARROQUIA" [LugarPadre]="cantonSeleccionado" [lugares]="parroquias" (emitirLugar)="recibirParroquia($event)" *ngIf="cantonSeleccionado">
            </app-table>
        </div>
        <div *ngIf="cargandoParroquias$ | async">
            <h3>Cargando Parroquias...</h3>
        </div>
    </div>
    <div class="col-lg-6">
        <div *ngIf="!(cargandoBarrios$ | async)">
            <app-table [espacioType]="BARRIO" [LugarPadre]="parroquiaSeleccionada" [lugares]="barrios" *ngIf="parroquiaSeleccionada">
            </app-table>
        </div>
        <div *ngIf="cargandoBarrios$ | async">
            <h3>Cargando barrios...</h3>
        </div>
    </div>
</div>