<div class="modal-header">
    <h4 class="modal-title">Asignacion de permisos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <form [formGroup]="form" novalidate>
                    <checkbox-group formControlName="items">
                        <checkbox value="DOCTOR" (click)="onSubmit(DOCTOR)">Doctor</checkbox>
                        <checkbox value="ADMIN" (click)="onSubmit(ADMIN)">Administrador</checkbox>
                        <checkbox value="DIRECTOR" (click)="onSubmit(DIRECTOR)">Director</checkbox>
                        <checkbox value="PACIENTE" (click)="onSubmit(PACIENTE)">Paciente</checkbox>
                    </checkbox-group>
                </form> -->

                <form [formGroup]="form">
                    <div *ngFor="let rol of rolesFormArray.controls; let i = index" class="row col">
                        <label formArrayName="roles">
                            <input type="checkbox" [formControlName]="i" (click)="onSubmit(rolesData[i])">{{rolesData[i]}}
                        </label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
</div>