<div class="row">
    <div class="col col-md6">
        <div class="card">
            <h4>{{ hospital?.idHospital?.nombre}}</h4>
            <br>
            <p>
                {{ hospital?.idHospital?.description}}
            </p>
        </div>
        <!-- <div class="card">
            <div id="map"></div>
        </div> -->
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h4>Ubicación</h4>
            <ul>
                <ng-container *ngFor="let l of lugar">
                    <li *ngIf="l">
                        <div class="row">
                            <div class="col col-md2">
                                {{ l?.tipo }} :
                            </div>
                            <div class="col col-md4">
                                {{ l?.nombre }}
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>